<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimeeo.pagecurl">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity1"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".curl.ExampleActivity1" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".curl.ExampleActivity2" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".curl.ExampleActivity3" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".curl.ExampleActivity4" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".curl.ExampleActivity5" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".curl.ExampleActivity6" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".curl.ExampleActivity7" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".curl.ExampleActivity8" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>